<div class="form-container" fxLayout="column">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
        <span style="font-weight: 500;">Add New Item</span>
    </div>
    <div class="body" fxLayout="column"  fxLayoutGap="20px">

        <div class="input-double" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="input-container" fxLayout="column" fxLayoutAlign="start start" fxFlex="49">
                <mat-label  class="lable-title">Title <span style="color: #ff7848;">*</span> </mat-label>
                <div fxLayout="row" class="input-section" fxLayoutAlign="space-between start">
                    <input class="input-content" type="text"placeholder="Type Description">
                </div>
            </div>

            <div class="input-container" fxLayout="column" fxLayoutAlign="start start" fxFlex="49">
                <mat-label  class="lable-title">Unit Price <span style="color: #ff7848;">*</span></mat-label>
                <div fxLayout="row" class="input-section" fxLayoutAlign="space-between start">
                    <input class="input-content" type="text"placeholder="Type Unit Cost">
                </div>
            </div>
        </div>

        <div class="input-container" fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" class="input-section" fxLayoutAlign="space-between start">
                <mat-slide-toggle style="font-size: 12px;">Taxable</mat-slide-toggle>
            </div>            
        </div>

        <div class="input-container" fxLayout="column" fxLayoutAlign="start start">
            <mat-label  class="lable-title">Additional Details</mat-label>
            <div fxLayout="row" class="input-section" fxLayoutAlign="space-between start">
                <textarea class="input-content" type="text"placeholder="Type Unit Cost" style="min-width: 95%; min-height: 100px;"></textarea>
            </div>
        </div>

    </div>
    <div class="footer"  fxLayout="row" fxLayoutAlign="end end"  fxLayoutGap="10px">
        <button class="action-btns" mat-button style="background-color: #f6f7fb; color:#495057">Cancel</button>
        <button class="action-btns" mat-raised-button color="primary">Add Now</button>
    </div>
</div>
