<div class="main-container" fxLayout="column" fxLayoutAlign="start start">
    <div class="content-head">
     <div class="top-bar" fxLayout="row" fxLayoutAlign="space-between center">
         <div class="title">Settings</div>
     </div>
     <!-- <mat-divider></mat-divider> -->
 
     <div class="content-body">


            <div class="settings-card" fxLayout="column" fxLayoutAlign="space-between start">
                <div class="top" fxLayout="row" fxLayoutAlign="space-between start">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
                        <mat-icon>settings</mat-icon>
                        <span style="color: #3a3938;">Payment Instructions</span>
                    </div>
                    <div ><mat-icon>edit</mat-icon><mat-icon>delete</mat-icon></div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
                    <div ><span class="title">Paypal Email: &nbsp;</span>ahmad@paypal.co<span></span></div>
                    <div ><span class="title">Check Payable To: &nbsp;</span>Ahmad and co<span></span></div>
                    <div ><span class="title">Bank Transfer: &nbsp;</span>This is my bank<span></span></div>
                </div>

            </div>
       </div>
    </div>
 </div>