@import "src/custom-theme";

.main-container{
    width:  calc(100% - 48px);
    height: 100%;
    background-color: #f6f7fb;
    margin: 0px 24px;
    border-top-left-radius: 30px;
    padding: 15px;

    .content-head{
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-top-left-radius: 20px;

        .top-bar {
            // width: calc(100% - 30px);
            width: 100%;
            padding: 0 0 0 11px;
            // background-color: red;
            height: 49px;
            border-top-left-radius: 20px;

            .title {
                font-size: 18px;
                float: left;
                color: #000;
                padding: 12px 0;
            }
        }

        .content-body {
          width: 100%;
          height: calc(100% - 80px - 4px);
          background-color: var(--content-bg);
          overflow: auto;
          background-color: #f6f7fb;
          padding: 10px 0px;


        
          .settings-card {

                border: 0.01rem solid #eee;
                    // width: calc(100% - 1.375rem - 1.375rem - 1px);
                    padding: 10px;
                    height: 90px;
                    background-color: #fff;
                    box-shadow: 0 0.125rem 0.3125rem #00000014;

                    .top {
                        width: 100%;
                        height: 40px;
                        font-size: 16px;
                        color: #fd7e49;
                    }

                .title{
                    font-size: 14px;
                    font-weight: 600;
                    color: #3a3938;
                    word-spacing: 0.1rem;
                    
                  }

            }

        }

    }

}