<div class="table-main" fxLayout="column" fxLayoutAlign="start start">
   <div class="table-content">
    <div class="top-bar" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">Invoices</div>
        <div class="actions" fxLayout="row" fxLayoutAlign="end center">
          <input class="search" type="text" placeholder="Search here.." name="searchText" id="search" value="">
           <mat-icon style="color: #fd7848; cursor: pointer;" (click)="onSearchClick()">search</mat-icon>
           <button class="btn-new" (click)="onAddNew('addNew')"><img src='/assets/images/add.svg' style="width: 14px; height: 14px;"> New</button>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div class="table-card">
        <table >

          <tr class="table-head">
            <ng-container *ngFor="let col of config.columns; let isLast=last">
              <td [ngClass]="{'table-col':isLast==false, 'table-col-last':isLast==true}">{{col}}</td>
            </ng-container>
          </tr>

          <ng-container *ngFor="let item of config.tableList">
            <tr>

              <ng-container *ngFor="let col of config.columns; let isLast=last">
                <td *ngIf="col!='Actions'" [ngClass]="{'table-col':isLast==false, 'table-col-last':isLast==true}">{{item[col]}}</td>
                <td *ngIf="col=='Actions'" [ngClass]="{'table-col':isLast==false, 'table-col-last':isLast==true}">
                  <ng-container  *ngFor="let act of item[col];">
                   <mat-icon style="color:#f44336">{{act}}</mat-icon>
                  </ng-container>
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </table>


      </div>

   </div>
</div>