<div class="side-bar-main" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="bar-header">
        <img src='/assets/images/logo.png' style="width: 56px; height: 56px; border-radius: 50%;"> 
        <div class="edit" fxLayout="row" fxLayoutAlign="space-between center"><img src='/assets/images/edit.svg' style="width: 15px; height: 15px;"> Edit</div>
        <div class="business-name">Hasan Tech</div>
        <div class="business-email">Hasanization@gmail.com</div>
    </div>
    <div class="bar-body">
        <div class="list">

            <div class="list-item-selected" xLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <mat-icon style="color: #fd7848;">receipt</mat-icon>
                <div>Invoices</div>
            </div>

            <ng-container *ngFor="let item of dataList">
                <div class="list-items" xLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" [routerLink]="item.rout">
                    <mat-icon style="color: #fd7848;">receipt</mat-icon>
                    <div>{{item.title}}</div>
                </div>

            </ng-container>

        </div>
    </div>
    <div class="bar-footer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">

        <img src='/assets/images/logout.svg' style="width: 20px; height: 20px; ">
        <div class="logout">Logout</div>
        <!-- <button mat-raised-button color="primary">Log Out</button> -->

    </div>

</div>