@import "src/custom-theme";

.side-bar-main {
    width: 100%;
    height: 100%;
    // background-color: red;
    font-family: "Poppins",sans-serif;

    .company-logo {
        width: 100%;
        height: 80px;
    }
    

    .bar-header {
        width: 100%;
        height: 170px;
        background-color: #1b4383;
       
        .business-name {
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.06rem;
            text-align: left;
            color: #fff;
            padding-top: 8px;
        }

        .business-email {
            font-size: 12px;
            color: rgb(229, 229, 229);
        }
        
    }

    .bar-body {

        height: calc(100% - 50px - 170px - 80px);
        padding-top: 12px;
        padding-bottom: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #1b4383;
        width: 100%;
        .list {

     

            .list-items {
                display: flex;
                justify-content: left;
                align-items: center;
                text-decoration: none;
                color: #a4b4cd;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 400;
                white-space: nowrap;
                border-radius: 0.25rem;
                height: 70px;
            
            }

            .list-item-selected {
                background-color: #183c76;
                font-weight: 500;
                font-size: 1rem;
                color: white;
                cursor: pointer;
                height: 70px;
                border-left: 3px solid white;
            }
        }
    }

 

    .bar-footer {
        width:100%;
        bottom: 0;
        color: #fff!important;
        height: 70px;
        background-color: #1b4383;

        .logout{
            font-size: 16px;
            color: #a4b4cd;
            font-weight: 400;
            width: 50%;
        }
    }

}