<div class="main-container" fxLayout="column" fxLayoutAlign="start start">
    <div class="content-head">
     <div class="top-bar" fxLayout="row" fxLayoutAlign="space-between center">
         <div class="title">Choose Template</div>
             <button class="btn-new">Save & Continue</button>
     </div>
 
     <div class="content-body" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">


        <div class="settings-panel" fxFlex="25"></div>
        <div class="pdf-panel" fxFlex="75"></div>

       </div>
    </div>
 </div>
